################################################################
#                             COMMOM                           #
################################################################

bin/
tmp/
target/
logs/

*.log
*.tmp
*.bak
*.swp
*~.nib


################################################################
#                               IDE                            #
################################################################

#---------------------------   Eclipse  ------------------------

.eclipse
.project
.classpath
.settings
precompiled/


################################################################
#                             FRAMWORK                         #
################################################################

#----------------------------   Play!  -------------------------

/dist/
/project/project
/project/target

test-result
server.pid
*.eml

.cache


################################################################
#                             LANGUAGE                         #
################################################################

#------------------------------ Java ---------------------------

# Compiled class file
*.class

# Package Files
*.jar
*.war

# Virtual machine crash logs
hs_err_pid*

#------------------------------ Python -------------------------

*.py[cod]

#------------------------------ C/C++ --------------------------

*.o


################################################################
#                             CUSTOM                           #
################################################################

*.local.ini
*.prod.ini

